body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Flaga */
.polska-flaga {
    width: 50px;
    height: auto;
}

/* Nagłówek */
header {
    background-color: #004f99;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin-left: 10px;
}

/* Formularz logowania */
#loginSection {
    padding: 20px;
    background-color: white;
    margin-top: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input,
form select,
form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #004f99;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #003d77;
}

.error {
    color: red;
}

/* Sekcja główna */
#mainContent {
    display: block;
    margin: 20px;
}

#zdarzeniaLista {
    list-style-type: none;
    padding: 0;
}

#zdarzeniaLista li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

/* Opcje dyscyplinarne */
.wzd {
    background-color: #e5f0ff;
}

.sgz {
    background-color: #f0e5e5;
}
